/* Submit & Cancel Buttons */
#submit-button {
	border: 1px solid #6610f2;
	background-color: #6610f2;
}
#submit-button:hover {
	border: 1px solid #5f27cd;
	background-color: #5f27cd;
	color: #feffff;
}

#cancel-button {
	border: 1px solid #6610f2;
	background-color: #fcfcfc;
	color: #6610f2;
}
#cancel-button:hover {
	border: 1px solid #5f27cd;
	text-decoration: underline;
	background-color: #fcfcfc;
	color: #5f27cd;
}