<!DOCTYPE html>

<html>
<head>
   <title></title>

   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/theme.bootstrap_4.css') }}">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom_table.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.tablesorter.pager.css') }}">
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.3.1.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/table_script.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tablesorter.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tablesorter.widgets.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tablesorter.pager.js') }}" defer></script>
  
   <style>
    /* remove edit-delete column seach input & sort btn */
    #edit-delete-head{
      background-image: url('#') !important;
      cursor: default !important;
    }
    [role~=search]>td:last-child>input{
      display: none;
    }
    /* style for edit & delete buttons */
    tbody>tr>td:last-child{
      width: 7%;
    }
    tbody>tr>td:last-child a{
      display: inline;
      float: left;
      text-decoration: none;
      margin: 0px;
    }
    tbody>tr>td:last-child a:last-child{
      margin:0px 7px 0px 8px;
      float: right;
    }
    tbody>tr>td:last-child>a img{
      max-width: 20px;
      max-height: 20px;
    }
    tbody>tr>td:last-child>input{
      max-width: 20px;
      max-height: 20px;
    } 
    #profile-icon{
      margin-right: 14px;
    }
  </style>

   <script type="text/javascript">
      //Disable the default MouseOver functionality of ASP.Net Menu control.
      //Sys.WebForms.Menu._elementObjectMapper.getMappedObject = function () {
      //    return false;
      //};
      $(document).ready(function () {

         //    //Remove the style attributes.
         //    $(".navbar-nav li, .navbar-nav a, .navbar-nav ul").removeAttr('style');

         //Apply the Bootstrap class to the Submenu.
         $(".dropdown-menu").parent().removeClass().addClass('dropdown');

         //Apply the Bootstrap properties to the Submenu.
         $(".dropdown>a").removeClass().addClass('dropdown-toggle').append('<b class="caret"></b>').attr('data-toggle', 'dropdown');

         //    //Apply the Bootstrap "active" class to the selected Menu item.
         //    $("a.selected").closest("li").addClass("active");
         //    $("a.selected").closest(".dropdown-toggle").addClass("active");

         //    remove default click redirect effect           
         $('dropdown-toggle').attr('onclick', '').off('click');
      });
   </script>
</head>
<body>
   <form id="form1" runat="server">

      <nav class="navbar sticky-top navbar-expand-md navbar-light bg-faded">
         <div class="container-fluid">

            <!-- Brand -->
            <asp:HyperLink ID="brandLink" runat="server" class="navbar-brand" NavigateUrl="~/art_gallery.aspx">
               <asp:Image ID="logo" runat="server" src="image/palette.svg" alt="" class="mr-2" Width="50" ClientIDMode="Static" />
               GALERI
            </asp:HyperLink>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" runat="server" clientidmode="Static">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
               <ul class="nav navbar-nav mx-auto">
            
                <!-- menu -->

               </ul>

              
            </div>
         </div>
      </nav>


      <div class="container body-content">
         <hr />

         <div class="bootstrap_buttons">
          <button class="reset btn btn-primary shadow" id="submit-button" type="button" data-column="0" data-filter="">Reset search filters</button><br>  
        </div>  
        <div class="custom-container" id="member-table">
          <!-- member table will be displayed here -->
          <table class="table table-striped">
            <thead class="thead-light"> <!-- add class="thead-light" for a light header -->
              <tr>
                <th>Employee ID</th>
                <th>Position</th>
                <th>Name</th>
                <th class="filter-select filter-exact" data-placeholder="Pick gender">Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Date Hired</th>
                <th id="edit-delete-head"></th>
              </tr>
            </thead>
       
            <tfoot>
              <tr>
                <th>Employee ID</th>
                <th>Position</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Date Hired</th>
                <th></th>
              </tr>
              <tr>
                <th colspan="9" class="ts-pager">
                  <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                      <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                      <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                      <button type="button" class="btn btn-secondary next" title="next">→</button>
                      <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                    </div>
                    <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="all">All Rows</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                  </div>
                </th>
              </tr>
            </tfoot>

      <tbody>
        <tr>
    <td id="emp_id">1</td>
    <td id="position">Sales</td>
    <td id="name">Joshua Yun</td>
    <td id="gender">Male</td>
    <td id="email">abc123@hotmail.com</td>
    <td id="mobile_num">019-1234545</td>
    <td id="address">Taman Hiburan 88100 kota kinabalu</td>
    <td id="date_join">07/12/2021</td>
    <td>
    <a id="profile-icon" class="edit-btn" href="member_profile.php?student_id='.$row['student_id'].'"><img src="{{ url_for('static',filename='images/profile-icon.png') }}" alt="edit button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Member Profile"></a>
    <a class="edit-btn" href="edit_member.php?edit=true&student_id='.$row['student_id'].'"><img src="{{ url_for('static',filename='images/edit-btn.png') }}" alt="edit button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Edit Member\'s Information"></a>
    <input type="image" src="{{ url_for('static',filename='images/delete-btn.png') }}" class="delete-btn" alt="delete" name="delete" value="'.$row['student_id'].'" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Delete Member">
    </td>
      </tr>
</tbody>
</table>

        </div>
       
      </div>
   </form>
</body>
</html>